<footer
        class="navbar navbar-expand-lg navbar-light  position-relative d-flex justify-content-between">
        <div class="d-flex">
          <p class="navbar-text cont-footer1 m-1">Copyright © 2022 Dayoff</p>
          <p class="navbar-text powered-by m-1">Powered by <a
              href="#enozom">Enozom Software</a></p>
          <p class="navbar-text cont-footer2 m-1"
            style="font-weight: 600; color: black;">Version 37</p>
        </div>
        <div class="img-footer">
          <img src="assets/Playstore.png" class="img-playstore align-items-end"
            alt="Playstore">
          <img src="assets/app-store.svg" class="img-appstore align-items-end"
            alt="Appstore">
        </div>
      </footer>