<div class="sidebar flex-column bg-white ">
  <div class="d-flex flex-column">
      <img src="assets/dayoff-logo.svg" class="img-thumbnail p-2"
        alt="Day-Off">
      <button type="button" class="btn btn-danger m-1">+ Add New</button>
    </div>
      <ul class="list-group list-group-flush p-2">
        <li class="list-group-item border-0"><i
            class="fas fa-home"></i> Dashboard</li>
        <li class="list-group-item border-0"><i
            class="fas fa-users"></i> Team Overview</li>
        <li class="list-group-item border-0"><i
            class="fas fa-chart-bar"></i> Reports</li>
        <li class="list-group-item border-0"><i
            class="fas fa-user"></i> Employees</li>
        <li class="list-group-item border-0"><i
            class="fas fa-plug"></i> Integrations</li>
        <li class="list-group-item border-0"><i
            class="fas fa-cog"></i> Settings</li>
        <li class="list-group-item border-0"><i
            class="fas fa-user-shield"></i> Permissions</li>
      </ul>
    </div>
